@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap);

.search-bar input {
	background-color: white !important;
	font-family: 'Open Sans',sans-serif !important;
	font-weight: 600 !important;
	border-radius: 10px;
	height: 60px;
	font-size: 18px;
	padding-left: 30px;
	z-index: 1000;
	margin-top: -30px;
	position: relative;
}



input::-webkit-input-placeholder {
	color: black;
}

input:focus::-webkit-input-placeholder {
	opacity: 0;
}

input:focus::-moz-placeholder {
	opacity: 0;
}
 
input:focus:-ms-input-placeholder {
    opacity: 0;
}
 
input:focus:-moz-placeholder {
	opacity: 0;
}

.css-dmx3ll-InputIcon-left {
	margin-top: -15px !important;
}



.css-x2306x-pagination {
	margin-top: 10px !important;
	font-size: 18px;
	font-weight: 600;
}


.css-iioxla-Button:a {
	background-color: #390754 !important;
	-webkit-text-fill-color: white;
	margin: 20px !important;
	padding: 10px !important;
	letter-spacing: 2 !important;

}

.css-x2306x-pagination .css-iioxla-Button {
	background-color: white !important;
	color: black !important;
	padding: 10px;
}




.css-1ek36dp-PoweredByImage  {
	display: none;
}
.css-14t2e2-Button {
	background-color: #390754 !important;
}

/* .css-x2306x-pagination a {
	margin-right: 20px !important; 

}

.css-x2306x-pagination .css-iioxla-Button {
	margin-left: 20px !important;
} */

.toggle-button {
	margin-top: 20px !important;
	
}
.toggle-button a{
	background-color: #461761 !important;
	color: white !important;
}
.toggle-button a:focus{
	background-color: #240237 !important;
	color: white !important;
}
.toggle-button a:active{
	background-color: #240237 !important;
	color: white !important;
}
.toggle-button a:selected{
	background-color: #240237 !important;
	color: white !important;
}


.css-6u8r7c-Button-large {
	background-color: #31004C !important;
	color: white !important;
}

.filter-buttons a {
	background-color: #461761 !important;
	color: white !important;
}

.css-1kfwsuu-resultStats {
	font-size: 20px !important;
	padding-top: 20px !important;
	display: none !important;
}

.css-yw1mgn-Flex-leftLabel {
	display: none !important;
}

@media only screen and (max-width: 600px) {
	.search-bar input {
		text-align: center;
		padding-left: 10px;
	}
  }